// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 20px 0px;
}


.horsedata {
  padding: 5px;
  flex: 0;

  a {
    text-decoration: none;
  }

  img.thumb {
    cursor: pointer;
  }
}

.thumb {
  width: 200px;
}

.subinfo {
  font-size: 12px;
}

.pager {
  margin: 10px 0px;
}

.pagination {
  a { cursor: pointer; }
}
